body{background-image: url(../img/fundo.jpg);}
.container{background-color: #50BCE3; border-radius: 5px; margin-top: 10px; padding-left: 0.1px; padding-right: 0.1px;}
.navbar{
	background-color: #1360aa;
	border-radius: 10px;
	margin-bottom: 20px;
	padding-bottom: 1px;
	padding-top: 1px;
	font-size: 18px;
	font-family: Gill Sans Ultra B;
	margin-top: 25px;
}.navbar li{background-color: #1b2431;
	margin-right: 5px;
	border-radius: 5px;
	margin-bottom: 1px;
	}.navbar li a{padding-bottom: 4.9px;padding-top: 4.9px; color: #082d1b;}
h1{
	text-align: center;
	font-family:cooper black;
	color: #ffffff;
	font-size: 35px;
	margin-bottom: 18px;
	padding-top: 10px;
}h1 img{float: left;}
.dogao{float: right;}
.dropdown-menu{
	background-color: #1b2431;
	color: white;
}.dropdown-menu a{font-size:18px; font-family: Gill Sans Ultra B;}
.dropdown-menu a:hover{background-color:#1360aa; color: white; border-radius: 10px;}
.dropdown-item.active, .dropdown-item:active{background-color: #1b2431;}
h2{	text-align: center;
	color: white;
	font-family: cooper black;
	font-size: 35px; margin-bottom: 20px; margin-left: 19%; }
.conteudo{width: 210px;
			text-align: justify;
			margin-left: 15%;
			float: left;
			font-family: Comic Sans MS;
			margin-bottom: 30px; 
}.conteudo h3{text-align: center; margin-right: 20px;}
.msgright{width: 200px; float: right; margin-right: 10px; text-align: justify; font-family: Comic Sans MS;}
.msgright img{margin-left: 25%; margin-bottom: 20px;}
#upfooter{ padding-top: 65%; text-indent: 30px; text-align: justify; padding-left: 30px; margin-right: 30px; font-family: elephant; }

@media screen and (min-width: 320px) and (max-width: 1023px){
	.msgright{display: none;}
	.dogao{display: none;}
	h1 img{display: none;}
	.psobresite{margin-right: 30px;}
	.container{width: 100%;}
	h2{margin-left: 1%;}
}
@media screen and (min-width: 320px) and (max-width: 374px){
	.container1{margin-left: 0.1%;}
	#upfooter{padding-top: 320%;}
	#faleconosco textarea {width: 100%;}
	#faleconosco {margin-right: 10%; width: 94%;}
	#faleconoscoh1{margin-right: none;}
}
@media screen and (min-width: 375px) and (max-width: 424px){
	.container1{margin-left: 5%;}
	#upfooter{padding-top: 55%;}
}
@media screen and (min-width: 425px) and (max-width: 767px){
	.container1{margin-left: 10%;}
	#upfooter{padding-top: 5%;}
}
@media screen and (min-width: 426px) and (max-width: 1439px){
	#upfooter{margin-top: 80%};
}
@media screen and (min-width: 768px) and (max-width: 1439px){
	.conteudo{margin-left: 12%;}
	#upfooter{padding-top: 30%;}
}
@media screen and (min-width: 1024px) and (max-width: 1439px){
	#upfooter{padding-top: 0.1%;}
	#faleconosco {margin-right: 10%; width: 48%;}
	#faleconoscoh1{margin-right: 50%;}
}
@media screen and (min-width: 375px) and (max-width: 767px){
	#upfooter{margin-top: 330%};
	#faleconosco textarea {width: 10%;}
	#faleconosco {margin-right: 10%; width: 94%;}
}
@media screen and (min-width: 768px) and (max-width: 1023px){
	#faleconosco textarea {width: 10%;}
	#faleconosco {margin-right: 10%; width: 94%;}
}
@media screen and (min-width: 1024px){
#faleconoscoh1{margin-right: 60%;}
.h2sobresite{margin-left: 18%;}
.psobresite{margin-right: 30%;}

.tituloartigos{margin-right: 15%;}
}
/*exclusivo sobre o site*/
.psobresite{font-family: Comic Sans MS;  margin-left: 30px; text-indent: 25px; text-align: justify;}
/*exclusivo faleconosco*/
#faleconosco {margin-left: 10px; margin-right: 60%; font-family: Comic Sans MS;}#faleconosco textarea{border-radius: 5px;}
/*exclusivo artigos*/
.altbox{margin-left: 10px;}
.artigotexto{margin-top: 0.1%;}


.artigosBox { margin-left: 10px; overflow: auto; margin-bottom: 1rem; background:lightblue; padding-right: 0.5rem;}
.artigosBox:nth-child(odd) { background: lightblue; }
.artigosBox img { float: left; margin-right: 1rem; height: 100px; width: 100px; }
.artigosBox h3 { margin-top: 0.5rem; }
.artigoHTML { padding: 0 1rem; }
.categorias { background: #ddd; padding: 0.5rem; }

.sTitle { background: black; color: white; padding: 0.5rem; font-weight: bold; font-size: 1.1rem; }
.sContent { background: lightblue; padding: 0.5rem; }
.sFooter { text-align: center; background: black; padding: 0.5rem; }
.sContent ul { padding-left: 1.5rem; line-height: 1.5rem; }

aside { margin: 1rem; }

/*



section { display:flex; }
section > div { width:80%; }
section > aside { min-width: 260px; max-width: 300px; padding-left: 1rem; }

*/